<configuration>
    <appender name="custom_console" class="ch.qos.logback.core.ConsoleAppender">
        <!--        <encoder>-->
        <!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %yellow([%thread]) %highlight(%-5level) %logger{36} %M %msg%n</pattern>-->
        <!--        </encoder>-->
        <encoder name="wrapping_encoder" class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.example.springboothttpinterfaces.logger.CustomPatternLayoutWithUserContext">
                <param name="Pattern"
                       value="%d{HH:mm:ss.SSS} %highlight(%-5level) %cyan([%user %session]) %msg %n"/>
            </layout>
        </encoder>
    </appender>

    <appender name="json-appender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <provider class="com.example.springboothttpinterfaces.logger.MikesJsonProvider"/>
        </encoder>
    </appender>

    <springProfile name="default">
        <root level="info">
            <!--            <appender-ref ref="custom_console"/>-->
            <appender-ref ref="json-appender"/>
        </root>
    </springProfile>
    <springProfile name="production">
        <root level="info">
            <appender-ref ref="json-appender"/>
        </root>
    </springProfile>
</configuration>
